<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>
  <div class="container">
  <h1><%= @user.username.capitalize if @user.username.present?%>'s Data </h1>
  <hr>
  <% @user.machines.each do |m| %>
    <% @machine_decorator = MachineDecorator.new(m.specific, @date) %>
  	<div class="panel panel-default col-md-6" style="padding:0px !important;">
	   	<div class="panel-heading"><%= m.name.capitalize if m.name.present?%>'s Data </div>
	   	<% offtime = m.offtimes.where("date=?", @date).first%>
	   	<div class="panel-body ">
	   		
	   		<table class="table table-striped">
		    <tbody>
		    <col width="20">
  			<col width="80">
		      <tr>
		        <td><strong>Total On Time:</strong></td>
		        <td><%= @machine_decorator.total_uptime %></td>
		        
		      </tr>
		      <tr>
		        <td><strong>Total Monitored Time:</strong></td>
		        <td><%= @machine_decorator.total_monitored_time%></td>
		      </tr>
		      <tr>
		        <td><strong>Efficiency:</strong></td>
		        <td><%= @machine_decorator.efficiency(@date)%></td>
		      </tr>
		      <tr>
		        <td><strong>Max Continuous On Time:</strong></td>
		        <td><%= offtime.max_continuous_on_time if offtime%></td>
		      </tr>
		      <tr>
		        <td><strong>Max Continuous Off Time:</strong></td>
		        <td><%= offtime.max_continuous_off_time if offtime%></td>
		      </tr>
		    </tbody>
		  </table>

	   	</div>
    </div>
  <% end %>
   </div>
  </body>
</html>



