

<div class="col-sm-3 col-md-2 sidebar">
  <div ><h2>Sensordata</h2><span>
    <% if user_signed_in? %>
      <%= link_to "MyAccount",user_path(current_user),class: "label label-info" %>&nbsp;|&nbsp;</span><span>
      <%= link_to "Log out", destroy_user_session_path,class: "label label-info", :method => :delete %></span>
    <% end %>
  </div>
  <hr>
  <ul class="nav nav-sidebar">
   <% current_user.machines.each do |m| %>
     <li class = <%= nav_class(home_path(m.id))%>>
      <%= link_to  home_path(m.id), class: "" do %>
        <i class="fa fa-bar-chart" ></i> <%= m.name %>
      <% end %>
     </li>
   <% end %>
  </ul>
</div>
