
<script src="https://code.highcharts.com/stock/highstock.js"></script>

<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
<script type="text/javascript" src="https://www.highcharts.com/samples/data/usdeur.js"></script>

<script type="text/javascript">
  var json = <%= @data_json %>;
  var offtimes = <%= @data_offtimes %>;
  //var json = {id:1};
</script>
<style type="text/css">
	
.switch-field {
  font-family: "Lucida Grande", Tahoma, Verdana, sans-serif;
  padding: 40px;
    overflow: hidden;
}

.switch-title {
  margin-bottom: 6px;
}

.switch-field input {
  display: none;
}

.switch-field label {
  float: left;
}

.switch-field label {
  display: inline-block;
  width: 60px;
  background-color: #e4e4e4;
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  text-shadow: none;
  padding: 6px 9px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition:    all 0.1s ease-in-out;
  -ms-transition:     all 0.1s ease-in-out;
  -o-transition:      all 0.1s ease-in-out;
  transition:         all 0.1s ease-in-out;
}

.switch-field label:hover {
    cursor: pointer;
}

.switch-field input:checked + label {
  background-color: #A5DC86;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.switch-field label:first-of-type {
  border-radius: 4px 0 0 4px;
}

.switch-field label:last-of-type {
  border-radius: 0 4px 4px 0;
}
</style>

<% content_for :head do %>
	<%= javascript_include_tag 'custom-highStock' %>
<% end %>

<div class="container">
	<div class="row">
    
		<%= form_tag home_index_path, :method => 'get' , :id => 'machine_form' do %>
		
		  <div class="switch-field">
		  <div class="switch-title">Select Your Machine.</div>
		    <%= radio_button_tag 'machine', '1',params[:machine] == nil || params[:machine] == '1' ? true : false%>
		    <label for="machine_1">One</label>
		    <%= radio_button_tag 'machine', '2',params[:machine] == '2' ? true : false %>
		    <label for="machine_2">Two</label>
		    <%= radio_button_tag 'machine', '3',params[:machine] == '3' ? true : false %>
		    <label for="machine_3">Third</label>
		     <%= radio_button_tag 'machine', '4',params[:machine] == '4' ? true : false %>
		    <label for="machine_4">Fourth</label>
		     <%= radio_button_tag 'machine', '5',params[:machine] == '5' ? true : false %>
		    <label for="machine_5">Fifth</label>
		   
		  </div>
		  
		<% end %>
	
	</div>
	<div class="row">
		<div id="container_raw_data" class = "col-md-12" style="height: 400px; min-width: 310px"></div>
	</div>
  <br>
  <br>
  <br>
  <div class="row">
    <div id="container_efficiency_data" class = "col-md-12" style="height: 400px; min-width: 310px"></div>
  </div>
</div>

<style type="text/css">
	.highcharts-tooltip + text{
		display: none;
	}	
</style>