<script type="text/javascript">
// $(document).ready(function(){
//         var json= "#{@data_json}"
//   var offtimes = <%= @data_offtimes %>
//   var info_box_datepicker_value = <%= @filter_date %>
//    });
  
</script>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.0/jquery-ui.css">
<% content_for :head do %>
	<%= javascript_include_tag 'custom-highStock' %>
<% end %>

<!-- Container starts -->
<div class="container">
  <div class="row">
    <!-- Left Sidebar -->
    <!--***************-->
    <div class="col-md-2">
      <%= render :partial => "pick_machine_sidebar" %>
    </div>
    <!--***************-->
    <!-- Left Sidebar -->

    <!-- Center Content -->
    <!--***************-->
    <div class="col-md-10">
      <div class="pull-right">
        <%= form_tag ajax_info_box_update_path, :method => 'get' , :id => 'info_box_form', remote: true do %>
          <p>
            <span>Pick date to find quick stats</span>
            <%= text_field_tag :date, @filter_date, id: 'info_box_datepicker' %>
            <%= submit_tag "Filter", :name => nil %>
          </p>
        <% end %>
      </div>

      <!-- info box search filter -->
      <!-- ********************** -->
      <div id = "info_boxes"><%= render :partial => "info_boxes" %></div>
      <!-- ********************** -->
      <!-- info box search filter -->

      <!-- Raw Data Graph  -->
      <!-- *************** -->
    	<div class="row">
    		<div id="container_raw_data" class = "col-md-12" style="height: 400px; min-width: 310px"></div>
    	</div>
      <!-- *************** -->
      <!-- Raw Data Graph  -->

      <br>
      <br>
      <br>

      <!-- Efficiency Data Graph  -->
      <!-- *************** -->
      <div class="row">
        <div id="container_efficiency_data" class = "col-md-12" style="height: 400px; min-width: 310px"></div>
      </div>
      <!-- *************** -->
      <!-- Efficiency Data Graph  -->
    </div> 
    <!--***************-->
    <!-- Center Content -->
  </div>
</div><!-- Container ends -->

<br>
<br>
<br>
<%= render :partial => "charts" %>

